/* 
    Colors:
    #3BBA9C -> Mint
    #2E3047 ->
    #43455C
    #3C3F58
    #707793
*/

.description-card {
    font-size: 1.25rem;
    border: 2px #2E3047 solid;
    margin: 2rem;
    padding: 1rem;
    background-color: #E2E4ED;
    color: #2E3047;
    box-shadow: 0 0 1rem #43455C, 0 0 .1rem #3BBA9C inset;
    border-radius: .5rem;
}

.about-link {
    color: #3BBA9C;
}