/* 
    Colors:
    #3BBA9C
    #2E3047
    #43455C
    #3C3F58
    #707793
*/
* {
    margin: 0;
    padding: 0;
}

html {
    /* background-image: url("../static/wallpaper9.jpg"); */
    background-color: #707793;
    
}

h1 {
    color: #3BBA9C;
    font-size: 4rem;
    padding: 1rem;
}

a {
    color: inherit;
}

.Nav-Bar {
    background-color: #2E3047;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 0 1rem #2E3047;
}

.Nav-Title {
    text-decoration: none;
}

.Nav-Button-List {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.Nav-Button {
    font-size: 1.75rem;
    color: #3BBA9C;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: .5rem;
    /* box-shadow: 0 0 .5rem #2E3047 inset, 0 0 .25rem #707793; */
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

.Nav-Button:hover {
    background-color: #3D405D;
    /* color: #DCDEF3; */
}

@media screen and (max-width: 800px) {
    .Nav-Button {
        font-size: 1.25rem;
    }

    h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 625px) {
    .Nav-Button {
        font-size: 1rem;
    }

    h1 {
        font-size: 2rem;
    }
}