@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap");

html {
    overflow-y: scroll;
    overflow-x: scroll;
}

.AutoComplete {
    background-color: none;
    height: 100%;
    padding: 0;
    margin: 0;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    /* add top padding */
    width: 50rem;
}

.ItemContainer {
    display: flex;
    background-color: white;
    transition: transform 0.1s ease-in-out;
    display: flex;
    padding: 0rem;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    align-items: flex-end;
    /* add this property */
}

.ItemContainer:first-of-type {
    border-top-left-radius: 0.1rem;
    border-top-right-radius: 0.1rem;
}

.ItemContainer:last-of-type {
    border-bottom-left-radius: 0.1rem;
    border-bottom-right-radius: 0.1rem;
}

.ItemContainer * {
    margin: 0.3rem;
}

.ItemContainer:hover {
    background-color: #3BBA9C;
    cursor: pointer;
    transform: scale(1.05);
    overflow: hidden;
}

.ImageContainer {
    background-color: none;
    object-fit: cover;
    width: 5rem;
    height: 5rem;
}

.SongInfo {
    align-self: flex-end;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    flex-direction: column;
    justify-content: center;
    /* Add this property */
    text-align: left;
}

.SongInfo hr {
    margin-left: 0;
}

.song-title {
    font-size: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.artist-name {
    font-size: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
}